body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/************************/

.calculator {
    width: auto;
    display: inline-block;
    padding: 10px;
    background-color: white
}

.key {
    width: 100%;
    height: 60px;
    /* margin: 1px; */
    font-size: 24px;
    background-color: rgb(242, 244, 247);
}

.special-key {
    background-color: rgb(190, 221, 231);
}

.key-zero {
    width: 100%;
    text-align: left;
    padding-left: 30px;
}

.row {
    width: 300px;
}

.display {
    position: relative;
    width: 100%;
    height: 80px;
    /* margin-left: 10px;
    margin-right: 10px; */
    background-color: rgb(0, 0, 0);
}

.display-text {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: white;
    font-weight: bold;
    font-size: 45px;
}